<div class="row" id="sort-box">
	<div class="col-xs-6">
		<div class="form-group" id="sort-box">
			<input type="text" id="search-box" placeholder="Search by text or category. Try 'politics'" class="form-control input-sm" />
		</div>
	</div>
</div>
<ol class="trend-list"></ol>