<h2>Find Trends</h2>

<div class="form-group">
	<label>Source</label>
	<div class="form-group">
<!--		<span class="input-group-btn">
			<a class="btn btn-warning" id="find-curr-location" type="button"><i class="fa fa-location-arrow"></i></a>
		</span>-->
		<input type="email" class="form-control" id="curr-location" placeholder="Start location">
	</div>
</div>

<div class="form-group">
	<label for="destination">Destination</label>
	<input type="email" class="form-control" id="destination-field" placeholder="Destination">
</div>

<div class="form-group disabled" id="time-options">
	<label></label>

	<div class="row btn-row">
		<div class="col-xs-12">
			<a class="btn btn-primary btn-block" id="btn" href="#/results" data-time="0">Spot</a>
		</div>
	</div>
</div>