
/* ---------------------------------------------------------------------------------------
   Main
   --------------------------------------------------------------------------------------- */

body {
	background-color: white;
	font-family: Helvetica, Arial, sans-serif;
}

header {
	background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.05) 98%, rgba(0,0,0,0.05) 99%); 
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(98%,rgba(0,0,0,0.05)), color-stop(99%,rgba(0,0,0,0.05)));
background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.05) 98%,rgba(0,0,0,0.05) 99%); 
background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.05) 98%,rgba(0,0,0,0.05) 99%); 
background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.05) 98%,rgba(0,0,0,0.05) 99%);
background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.05) 98%,rgba(0,0,0,0.05) 99%); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#0d000000',GradientType=0 );

	z-index: 5000;

	width: 100%;
	background-color: #1abc9c;
	border-bottom: 1px solid #999;
	font-size: 1.2em;
	color: white;
	box-shadow: 0 0 2px rgba(0,0,0,0.4);
	padding: 0 20px;

	z-index: 300;
}

header h1 {
	font-size: 18px;
	margin: 0;
	display: block;
	/*float: left;*/
	font-weight: bold;
	text-align: center;
	text-shadow: 0px 1px 1px rgba(0,0,0,0.3);
}

header h1 > a {
	padding: 15px 20px 15px 0;
	text-decoration: none !important;
}

header h1 > a, header h1 > a:visited {
	display: inline-block;
	vertical-align: middle;
	color: white;
	height: 100%;
}

#back-btn {
	float: left;
	position: absolute;
	top: 8px;
	color: white;
	background: rgba(255,255,255,0.4);
	border: none;
	display: none;
}

#main-wrapper {
	/*padding-top: 20px;*/
}

h2 {
	font-weight: bold;
	font-size: 1.6em;
	margin-bottom: 17px;
}

h2 > span {
	padding: 0 1px 3px 1px;
	border-bottom: 1px solid rgba(0,0,0,0.3);
}

h2.center-title {
	text-align: center;
}

em.distance {
	color: black;
	font-weight: bold;
}

/* ---------------------------------------------------------------------------------------
   Search Form
   --------------------------------------------------------------------------------------- */

#time-options.disabled a.btn {
	pointer-events: none;
	cursor: not-allowed;
	opacity: 0.65;
}

#time-options > p {
	text-align: center;
}

#time-options > div.manual-time-input {
	margin-top: 15px;
	display: none;
}

.btn-row {
	margin-bottom: 5px;
}

.left-btns {
	padding-right: 3px;
}

.right-btns {
	padding-left: 3px;
}

.loading {
	margin-top: 20px;
	text-align: center;
	color: #7f8c8d;
	font-size: 60px;
}

/* ---------------------------------------------------------------------------------------
   List view
   --------------------------------------------------------------------------------------- */

#sort-box {
	/*padding: 20px 0 15px 0;*/
	margin-bottom: 0;
}

#sort-box > div {
	padding-top: 20px;
}

#sort-box.affix {
	z-index: 42;
	position: static;
	background: rgba(255,255,255,0.9);
	box-shadow: 0 0 10px white;
	top: 0;
}

ol.trend-list {
	list-style-type: none;
	padding: 0;
}

ol.trend-list hr {
	margin: 0;
}

ol.trend-list li {
	margin-bottom: 10px;
}

ol.trend-list li:hover {
	background: #ecf0f1;
}

ol.trend-list li em.distance {
	font-style: normal;
}

ol.trend-list a.list-link {
	display: inline-block;
	text-decoration: none !important;
}

ol.trend-list p.name {
	font-size: 20px;
	margin-bottom: 10px;
}

ol.trend-list img.media-object {
	width: 60px;
	height: 60px;
}

ol.trend-list h3 {
	font-size: 20px;
}

ol.trend-list .stars {
	font-size: 14px;
}

address {
	font-size: 14px;
	color: #7f8c8d;
}

ol.trend-list .right {
	float: right;
	padding-top: 27px;
}

ol.trend-list em.distance {
	font-size: 18px;
	padding-top: 13px;
}

.stars {
	padding-top: 3px;
	color: #f1c40f;
}

.review-count {
	color: #34495e;
}

.categories-list {
	margin-bottom: 0;
}

span.label-default {
	background: #ecf0f1;
	color: #34495e;
}

.highlight {
	background: yellow;
}

/* ---------------------------------------------------------------------------------------
   Details View
   --------------------------------------------------------------------------------------- */

.trend-details img.media-object {
	width: 80px;
	height: 80px;
}

.trend-details h2, .trend-details h3 {
	margin-bottom: 5px;
	margin-top: 0;
}

.details .trend-details {
	margin-top: 20px;
}

.trend-details .stars {
	font-size: 22px;
	margin-bottom: 0;
}

.trend-details address {
	margin-bottom: 0;
	font-size: 16px;
}

.details em.distance {
	border-left: 2px solid #7f8c8d;
	padding-left: 10px;
	margin-left: 3px;
}

.details .review-count {
	font-size: 0.6em;
	padding-bottom: 3px;
}

.btn-container {
	text-align: center;
}

/* ---------------------------------------------------------------------------------------
   Misc.
   --------------------------------------------------------------------------------------- */

a.unclickable {
   pointer-events: none;
   cursor: default;
}

span.caret {
	display: inline-block;;
	width: 0;
	height: 0;
	margin-left: 2px;
	vertical-align: middle;
	border-top: 4px solid;
	border-right: 4px solid transparent;
	border-left: 4px solid transparent;
}

.group:before, .group:after {
	content: "\0020";
	display: block;
	height: 0;
	overflow: hidden;
}
.group:after { clear: both; }
.group { zoom: 1; }