<!DOCTYPE html>
<html lang="en">
<head>

<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="description" content="The best way to find a place to eat on a road trip." />
<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, maximum-scale=1, user-scalable=no"/>
<link rel="shortcut icon" href="favicon.ico"/>

<title>TrendSpotter!</title>

<link rel="stylesheet" media="screen" href="/shared/css/bootstrap.min.css">
<link rel="stylesheet" media="screen" href="/shared/css/font-awesome.min.css" />
<link rel="stylesheet" media="screen" href="/shared/css/screen.css" />
<link rel="stylesheet" media="screen" href="/desktop/css/desktop.css" />

</head>
<body>

${content}

<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js" type="text/javascript"></script>
<script src="/shared/js/lib/bootstrap.min.js"></script>
<script src="/shared/js/lib/jquery.highlight.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js" type="text/javascript"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.2/backbone-min.js" type="text/javascript"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.6.0/moment.min.js" type="text/javascript"></script>
<script src="//maps.googleapis.com/maps/api/js?sensor=false&amp;libraries=places&amp;key=AIzaSyDJdTdVVSJVQ8R-lWAJDqXam-nk2fotx24" type="text/javascript"></script>

<script src="/shared/js/app.js"></script>

<script src="/shared/js/models/trend.js"></script>
<script src="/shared/js/collections/trends.js"></script>

<script src="/shared/js/views/results-view.js"></script>
<script src="/shared/js/views/list-view.js"></script>
<script src="/shared/js/views/search-view.js"></script>
<script src="/shared/js/views/detail-view.js"></script>

<script src="/shared/js/router.js"></script>

</body>
</html>