<#assign content>

<header>
  <div class="clearfix">
    <a href="#" id="back-btn" class="btn btn-default"><i class="fa fa-chevron-left fa-lg"></i></a>
    <h1>
      <a href="#"><i class="fa fa-cutlery"></i> TrendSpotter</a>
    </h1>
  </div>
</header>

<div class="container-fluid">
  <div class="group" id="main-wrapper"></div>
</div>

<script type="text/javascript">var desktop = false;</script>

</#assign>
<#include "main.ftl">