<article class="details">
	<div class="media trend-details">
		<div class="media-left">
		  <img class="media-object img-rounded" src="<%= trend.get('image_url') %>">
		</div>
		<div class="media-body">
			<h2><%= trend.get('name') %></h2>
			<address><%= trend.get('address') %></address>
			<p class="categories-list">
				<% for (var i=0; i<Math.min(3, trend.get('categories').length); i++) { %>
					<span class="label label-default"><%= trend.get('categories')[i] %></span>
				<% } %>
			</p>
			<p class="stars">
			<% 	var halfStars = Math.round(trend.get('rating')*2)/2;
				var totalStars = Math.ceil(trend.get('rating'));
				for (var s = 1; s <= totalStars; s++) {
					if (s <= halfStars) { %>
						<i class="fa fa-star"></i>
					<% } else { %>
						<i class="fa fa-star-half-o"></i>
					<% }
				}

				for (var s = totalStars + 1; s <= 5; s++) { %>
					<i class="fa fa-star-o"></i>
				<% } %>
				<span class="review-count">(<%= trend.get('review_count') %><%= desktop ? ' reviews' : '' %>)</span>
			</p>
			<% if (ror) { %>
				<p>
					<strong><%= ror.get('timeToTrend') %></strong> minutes away.<br />
					<strong class="text-danger">+<%= ror.get('timeAdded') %></strong> minutes to trip.
				</p>
			<% } %>
		</div>
	</div>

	<% if (trend.get('reviews') && trend.get('reviews').length > 0) { %>
		<hr />

		<div>
			<h3><i class="fa fa-yelp"></i> Reviews:</h3>

			<% trend.get('reviews').forEach(function(review) { %>
				<blockquote>
				  <p>"<%= review.excerpt %>"</p>
				  <footer><%= review.userName %> <cite title="Source Title"><a href="<%= trend.reviewUrl(review.id) %>" target="_blank">Read more</a></cite></footer>
				</blockquote>
			<% }); %>
		</div>
	<% } %>

	<hr />

	<p class="btn-container"><a class="btn btn-primary btn-lg" target="_blank" href="<%= trend.googleMapsUrl() %>"><i class="fa fa-map-marker"></i> Get Directions</a></p>

	<p class="btn-container"><a class="btn btn-success btn-lg" href="tel:<%= trend.get('phone') %>"><i class="fa fa-phone"></i> <%= trend.get('phone') %></a></p>
</article>