<% if (trends.length == 0) { %>
	<p class="text-center text-muted">No results found.</p>
<% } %>

<% _.each(trends, function(trend) { %>
	<li class="clearfix">
		<hr />
		<a href="#trends/<%= trend.get('name') %>" class="list-link">

			<div class="media trend-details">
				<div class="media-body">
					<h3><%= trend.get('name') %></h3>
				</div>
			</div>
		</a>
	</li>
<% }); %>